## slurm logs
slurm-logs/

## hashes
all_hashes.txt
*.txt

## the notebook where i generate the parameters or iwil cause problems
gen_parameters_jsons.ipynb
*jsons.ipynb

# logs snakemake #
########
logs/
*.snakemake/

# Logs #
########
logs/
*.log

# Folders #
##########
lfmm/
results/
sbatch_scripts/

# Python #
##########
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd

# Archives #
############
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.gz
*.bz2
*.7z
*.rar

# Data files #
##############
*.csv
*.tsv
*.dat
*.data
*.txt
*.json
*.xls
*.xlsx
*.hdf5
*.parquet
*.feather
*.pkl
*.pickle

# Jupyter Notebooks #
#####################
.ipynb_checkpoints/
*.ipynb_checkpoints
*.nb.html
*.nbconvert/

# Genomic data files #
######################
*.vcf
*.vcf.gz
*.vcf.idx
*.bcf
*.bcf.csi
*.bam
*.bam.bai
*.cram
*.cram.crai
*.sam
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fasta
*.fasta.gz
*.fa
*.fa.gz
*.fna
*.fna.gz
*.gff
*.gff3
*.bed
*.bed.gz
*.bedGraph
*.wig
*.wig.gz
*.tsv
*.tsv.gz
*.ped
*.map
*.pheno
*.vcf.idx
*.g.vcf
*.g.vcf.gz
*.g.vcf.idx

### pngs or pdfs
*.png
*.pdf
